*~
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un

# Ignore CMake files 
build/bin/
build/lib/	
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
